# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
# .env.development.local comment this just for this testing, in real project, we don't have to push environment files to repo
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
